services:
  postgres:
    image: postgres:15
    container_name: postgres_h3
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: h3_geo_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - shared-network

  redis:
    image: redis:7-alpine
    container_name: redis_h3
    ports:
      - "6379:6379"
    networks:
      - shared-network

  api-h3:
    build:
      context: .
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/h3_geo_db
      SPRING_DATA_REDIS_HOST: redis
    networks:
      - shared-network

networks:
  shared-network:
    driver: bridge

volumes:
  postgres-data:
    driver: local